[SddmGreeterTheme]
Name=mlde.hafnium
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=mlde.hafnium
Theme-API=2.0
